.admin-page {
    display: flex;
    flex-direction: column;
}

.admin-container {
    border-bottom: 1px solid black;
    padding: 5px;
}

.form-container {
    display: flex;
    flex-direction: row;
}

.sub-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 33%;

    .badge-tile {
        width: 50%;
        margin: 5px;
    }
}

.heading {
    border-bottom: 1px solid black;
}

.full-heading {
    margin: 0 33%;
}
