.badge-tile {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 30px;
    background: rgb(189, 189, 189);
    justify-content: center;
}

.badge-image {
    img {
        width: calc(100% - 2rem);
        padding: 1rem;
    }
}

.badge-details {
    display: flex;
    flex-direction: column;
    
    * {
        border-top: 1px solid black;
        margin: 0 10%;
        padding: 2% 0;
    }
}